<div class="row pt-2">
    <div class="col-md-4">
        <h3>Recipe Name</h3>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-target="#manageRecipe"
                data-bs-toggle="collapse" aria-expanded="false">
                Manage recipe
            </button>
            <ul class="dropdown-menu" id="manageRecipe">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <!-- <img src="https://c.pxhere.com/images/22/4a/6321d069b3386c120e0c860dc56a-1620832.jpg!d" class="img-thumbnail" alt="Image"> -->
    </div>
</div>
<div class="row ">
    <div class="col-md-12  ">
        <img src="https://c.pxhere.com/images/22/4a/6321d069b3386c120e0c860dc56a-1620832.jpg!d"
            class="img-thumbnail img-fluid" alt="Image">
    </div>
</div>
<div class="row">
    <div class="col-md-12">Description</div>
</div>
<div class="row">
    <div class="col-md-12">Ingredients</div>
</div>