<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <button type="button" class="btn btn-primary">New recipe</button>
        </div>
    </div>
    <div class="row justify-content-center align-items-center pt-2">
        <div class="col">
            <a class="card-group" href="#">
                <div class="card">
                    <img class="card-img-top"
                        src="https://c.pxhere.com/images/22/4a/6321d069b3386c120e0c860dc56a-1620832.jpg!d"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Recipe Name</h4>
                        <p class="card-text">Description</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<app-recipe-item></app-recipe-item>